body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
table {
    border: 3px solid black;
    border-radius: 9px;
}
th {
    font-size: 125%;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 10px;
}
td {
    text-align: center;
    background-color: white;
    padding: 4px;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    color: red;
}
.warning {
    color: black;
    background-color: red;
    display: inline;
    padding: 8px;
    border: 2px black;
    border-radius: 5px;
}
hr{
    height: 2px;
    background-color: darkred;
    border:none
}