<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Guestbook</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1 align="center">Formula 1 Grid Creation</h1>

    <!-- Image Logo -->
    <div align="center">
    <img th:src="@{/images/f1.jpg}" width="300px" height="150px" align="center" />
    </div><br/>
    <!-- Entries Table -->
    <div align="center" th:if="${!entries.isEmpty()}">
<table>
    <tr>
        <th>Driver</th><th>Position</th><th>Tyre Type</th><th>Date Added</th><th>Delete</th><th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.driver}"></td>
        <td th:text="${entry.position}"></td>
        <td th:text="${entry.tyre}"></td>
        <td th:text="${entry.date}"></td>
        <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
    </tr>
</table>
    </div>

    <!-- Error No data in table -->
    <div th:if="${entries.isEmpty()}">
        <p>There are no Drivers on the Grid, What a pity.</p>
    </div>

    <h2 align="center" th:text="${formHeader}"></h2>
    <hr/><br/>
<div align="center">
    <!-- Add Comment Form -->
    <form th:object="${newEntry}" method="post">
        <label><b>Driver: </b></label><br/>
        <input type="text" size="32" placeholder="Enter driver name..." th:field="*{driver}" /><br/><br/>
        <label><b>Position: </b></label><br/>
        <input type="text" size="32" placeholder="Enter position..." th:field="*{position}" /><br/><br/>
        <label><b>Tyre Type: </b></label><br/>
        <input type="text" size="32" placeholder="Enter tyre choice.." th:field="*{tyre}" /><br/><br/>
        <label><b>Date Added: </b></label><br/>
        <input type="date" size="20" th:field="*{date}" /><br/><br/>

        <!-- Input form -->
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" /><br/><br/>

        <!-- If empty 'hasErrors' method-->
        <p class="warning" th:if="${#fields.hasErrors('driver')}">ERROR! Driver name cannot be empty.</p><br/><br/>

        <p class="warning" th:if="${#fields.hasErrors('position')}">ERROR! Position cannot be empty.</p><br/><br/>

        <p class="warning" th:if="${#fields.hasErrors('tyre')}">ERROR! Tyre type cannot be empty.</p><br/><br/>


    </form>
</div>
</body>
</html>